[submodule "libdaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libDaisy
	branch = master
[submodule "DaisySP"]
	path = DaisySP
	url = https://github.com/electro-smith/DaisySP
	branch = master
